<section id="about">
    
    <div class="container-fluid position-relative" >
        <div class="placeholder"></div>
        
        <div  class="text-gray m-0 shadow p-3" id="text">
        <h3 class=" m-0 p-4 title" >About</h3>

            <article class="text-center px-5"> 
                
                <h3 class="text-center  p-3">My name is Daniele and <span style='font-family: "Times New Roman"'> I </span><span class="text-danger">&#x2764; </span>Coding.</h3>
                <p>
                    <span class="text-green big">I</span> am convinced that today, more than ever, the future is going to be written in lines of code and that programming will be one of the most important occupational fields of tomorrow. 
                </p>
                <p> This involves great chances for a stimulating and fulfilling profession in the future.  </p>
                <p> Therefore it is my dream to work and grow within this important sector!</p>
                
            </article>
        </div>
           
    </div>
</section>
