<section class="container-fluid pt-4" id="container">
    <div class=" hero mt-5">
        <div class="d-flex  justify-content-center" id="profile">
            <div class="d-flex flex-column text-center inner-column" >
                <div>
                <h1><span class="pink">D</span>aniele <span class="pink">A</span>rgiolas</h1>
                </div>
                <div class="img_container">
                    <img src="assets/img/me_cartoon.jpg" alt="">
                </div>
                <div class="box-bottom">
                    <div class="py-3">
                        <h3>Full Stack Web Developer</h3>
                    </div>
                    <div>
                        <div class="contactMe"><a href="/contact-me"  class="contactMe">contactMe()</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- <div class=" greet">
            <h3 class="p-0 m-0" >Hi,<br>I am <span class="pink">Daniele</span>,<br>Web Developer</h3>
        </div> -->
    
    </div>  
</section>
